<app-navbar (onArtClicked)="toggleArt()" (onHomeClicked)="toggleHome()"></app-navbar>

<div class="background">
  <span [style.color]="color1"></span>
  <span [style.color]="color1"></span>
  <span [style.color]="color2"></span>
  <span [style.color]="color2"></span>
  <span [style.color]="color2"></span>
  <span [style.color]="color2"></span>
  <span [style.color]="color1"></span>
</div>

<div class="content">

  <div class="info-wrapper">
    <div class="circle-container">

      <div [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" *ngIf="home == true" class="circle" id="circle1-home" [style.background-color]="buttonColor"></div>

      <div [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" *ngIf="home == false" class="circle" id="circle1-art" [style.background-color]="buttonColor"></div>

      <div class="circle" id="circle2" [style.background-color]="buttonColor">
        <img [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" [src]="profileImage" alt="Profile Code" class="circle-image">
      </div>
    </div>
    
    <div class="personal-info">
      <h1>CHEYO KAPELANSHILA CHOMBA</h1>
      <hr>
      <p [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible">{{info}}</p>
      <button (click)="downloadFile()" [style.background-color]="buttonColor"
        [style.--hover-button-color]="hoverButtonColor">{{buttonDisplay}}</button>
    </div>
  </div>
  

    <div [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" class="art" *ngIf="home == false">
      <h1>SOME OF MY WORK</h1>
      <hr>
      <br>
      <div class="art-gallery">
        <div *ngFor="let image of artImages" class="art-image">
          <img [src]="getImagePath(image)" alt="Art Image"
               (click)="openModal(image)" />
        </div>
      </div>
    </div>
    
    <div class="modal" *ngIf="showModal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="getImagePath(currentImage!)" alt="Selected Art Image" />
      </div>
    </div>

  <div  [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" class="skills" *ngIf="home">
    <h1>SKILLS</h1>
    <hr>
    <div class="skill-grid">
      <div class="skill-card" *ngFor="let skill of skills" [style.--hover-color]="hoverColor">
        <div class="skill-icon">
          <img [src]="skill.image" [alt]="skill.name">
          <div class="skill-name">{{ skill.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <div  [class.slide-in-out]="infoVisible" [class.hidden]="!infoVisible" class="experience" *ngIf="home">
    <h1>EXPERIENCE</h1>
    <hr>
    <div class="experience-box">
      <ul class="timeline">
        <li class="event" data-date="2024">
          <h2>Graduate Consultant</h2>
          <h3 style="font-size: 1.2em; margin-top: -15px;">Moyo Business Advisory</h3>
          <p style="margin-top: -10px;">I am currently a graduate consultant at Moyo, specializing in Data Engineering.
            As an IT consultant, I work closely with clients to identify and solve complex IT problems, develop and
            implement technology solutions that align with business objectives, and ensure seamless integration of new
            systems into existing infrastructures.</p>
        </li>
        <li class="event" data-date="2021">
          <h2>Junior IT Specialist</h2>
          <h3 style="font-size: 1.2em; margin-top: -15px;">Dataproof Communications (Pty) Ltd.</h3>
          <p style="margin-top: -10px;">As a Junior IT Specialist at Dataproof, I was responsible for capturing metadata
            from developed spreadsheets into the Dataproof proprietary records management system, ensuring compliance
            with National Archives of South Africa (NARS) approved file plans. My role also included auditing this
            information for accuracy, analyzing the system’s code and structure to recommend enhancements, and
            conducting business analysis to determine how technology could optimize operations.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="socials">
    <h1>SOCIALS</h1>
    <hr>
    <div class="social-grid">
      <a href="mailto:kapelanshila@gmail.com" [style.--hover-button-color]="buttonColor" class="social-card" target="_blank">
        <img src="assets/gmail.png" alt="Email">
        <p>kapelanshila&#64;gmail.com</p>
      </a>
      <a href="https://github.com/Kapelanshila" [style.--hover-button-color]="buttonColor" class="social-card" target="_blank">
        <img src="assets/github.png" alt="GitHub">
        <p>Kapelanshila</p>
      </a>
      <a href="https://www.linkedin.com/in/cheyo-chomba-512542215/" [style.--hover-button-color]="buttonColor" class="social-card" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn">
        <p>Cheyo Chomba</p>
      </a>
      <a href="https://twitter.com/@cheyochomba" [style.--hover-button-color]="buttonColor" class="social-card" target="_blank">
        <img src="assets/x.png" alt="Twitter">
        <p>&#64;cheyochomba</p>
      </a>
      <a href="https://www.instagram.com/cheyo.kc" [style.--hover-button-color]="buttonColor" class="social-card" target="_blank">
        <img src="assets/instagram.png" alt="Instagram" target="_blank">
        <p>&#64;cheyo.kc</p>
      </a>
    </div>
  </div>

  <footer class="footer">
    <p>All Rights Reserved. Developed by Cheyo.</p>
  </footer>
  </div>  
