body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: rgb(20,24,30);
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    position: relative;
    z-index: 1;
}

.navbar, .main-content, .content {
    position: relative;
    z-index: 2;
}
